<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.kh.rent.reserve.mapper.ReserveMapper">
  
  <!-- 예약 입력 -->
  	<insert id="reserveinsert">
  		insert into TBL_RESERVE
  			( res_rental_date, res_return_date, res_car_id, res_mem_id,
  			 res_license_type, res_license_num, res_totalpay)
  		values
  			( str_to_date(#{res_rental_date}, '%Y-%m-%d %H:%i'), 
  			  str_to_date(#{res_return_date}, '%Y-%m-%d %H:%i'),
  			  #{res_car_id},
  			  #{res_mem_id},
  			  #{res_license_type},
  			  #{res_license_num},
  			  #{res_totalpay}
  			)	
  	</insert>
  	
  <!-- 예약 입력 조회 -->	
  	<select id="getList" resultType="com.kh.rent.reserve.domain.ReserveVO">
  		select * from TBL_RESERVE
  	
  	</select>
  	
  	 <!-- car_info 리스트+소영씨 이미지추가 -->
     <select id="getCarInfo" resultType="com.kh.rent.reserve.domain.ReserveDTO">
            <!-- select * from TBL_CAR_INFO  -->
           SELECT 
	            A.*, 
	            B.orignl_file_nm, B.unique_file_nm
	         FROM TBL_CAR_INFO A LEFT JOIN TBL_FILE B
	         ON A.file_id = B.file_id 
	         WHERE
	          A.use_yn='Y'
     </select>
     
     <!-- 예약 가능한 차 조회 -->
     <select id="getPosCar" resultType="com.kh.rent.admin.domain.CarInfoVO" >
	    SELECT 
	    A.*, 
	    B.orignl_file_nm, 
	    B.unique_file_nm
	FROM 
	    TBL_CAR_INFO A 
	    LEFT JOIN TBL_FILE B ON A.file_id = B.file_id 
	WHERE
	    A.use_yn = 'Y'
	    AND A.CAR_INDEX NOT IN (
	        SELECT RES_CAR_ID
	        FROM TBL_RESERVE
	        WHERE RES_STATUS IN ('이용중', '예약중', '예약완료','기한만료')
	        UNION ALL
	        SELECT NON_CAR_ID
	        FROM TBL_NONMEMBER
	        WHERE NON_STATUS IN ('이용중', '예약중', '예약완료','기한만료')
	    )

     </select>
   
  <!-- 회원정보 리스트 -->
	  <select id="getMemberInfo" resultType="com.kh.rent.login.domain.MemberVO">
	  		select * from TBL_MEMBER
	  </select>
	  
	 <!-- 선택한 차 보이기 --> 
	 <select  id="findByCindex" resultType="com.kh.rent.reserve.domain.ReserveDTO">
	 	SELECT 
		    A.*, 
		    B.orignl_file_nm, 
		    B.unique_file_nm
		FROM 
		    TBL_CAR_INFO A 
		    LEFT JOIN TBL_FILE B ON A.file_id = B.file_id 
		WHERE
		    A.use_yn='Y'
		    AND A.car_index = #{car_index}

	 </select>
  	
  	<!-- 체크박스선택시 값 불러오기 -->
  	<select id="selectCheck" resultType="com.kh.rent.admin.domain.CarInfoVO" parameterType="map">    
  	   SELECT 
		    A.*, 
		    B.orignl_file_nm, 
		    B.unique_file_nm
		FROM 
		    TBL_CAR_INFO A 
		    LEFT JOIN TBL_FILE B ON A.file_id = B.file_id 
		WHERE
		    A.use_yn = 'Y'
		    AND A.CAR_INDEX NOT IN (
		        SELECT RES_CAR_ID
		        FROM TBL_RESERVE
		        WHERE RES_STATUS IN ('이용중', '예약중', '예약완료','기한만료')
		        UNION ALL
		        SELECT NON_CAR_ID
		        FROM TBL_NONMEMBER
		        WHERE NON_STATUS IN ('이용중', '예약중', '예약완료','기한만료')
		    )
		    AND (A.car_company = #{car_company} OR #{car_company} IS NULL OR #{car_company} = '')
		    AND (A.car_size = #{car_size} OR #{car_size} IS NULL OR #{car_size} = '')
		    AND (A.car_fuel = #{car_fuel} OR #{car_fuel} IS NULL OR #{car_fuel} = '')
		    AND (A.op_carseat = #{op_carseat} OR #{op_carseat} IS NULL OR #{op_carseat} = '')
		    AND (A.op_navi = #{op_navi} OR #{op_navi} IS NULL OR #{op_navi} = '')
		    AND (A.op_bt = #{op_bt} OR #{op_bt} IS NULL OR #{op_bt} = '')
		    AND (A.op_cam = #{op_cam} OR #{op_cam} IS NULL OR #{op_cam} = '');

	</select>
  	
  </mapper>