<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.kh.rent.reserve.mapper.ReserveMapper">
  
  <!-- 예약 입력 -->
  	<insert id="reserveinsert">
  		insert into TBL_RESERVE
  			( res_rental_date, res_return_date, res_car_id, res_mem_id, res_license_type, res_license_num)
  		values
  			( str_to_date(#{res_rental_date}, '%Y-%m-%dT%H:%i'), 
  			  str_to_date(#{res_return_date}, '%Y-%m-%dT%H:%i'),
  			  #{res_car_id},
  			  #{res_mem_id},
  			  #{res_license_type},
  			  #{res_license_num}
  			)	
  	</insert>
  	
  <!-- 예약 입력 조회 -->	
  	<select id="getList" resultType="com.kh.rent.reserve.domain.ReserveVO">
  		select * from TBL_RESERVE
  	
  	</select>
  	
  	<!-- car_info 리스트 -->
  <select id="getCarInfo" resultType="com.kh.rent.reserve.domain.ReserveDTO">
  		select * from TBL_CAR_INFO
  </select>
  	
  	<!-- 체크박스선택시 값 불러오기 -->
  	<select id="selectCheck" resultType="com.kh.rent.reserve.domain.ReserveDTO" parameterType="map">
	 SELECT
		
		   <if test="op_carseat != null and op_carseat != ''">
		    car_company = #{car_company},
		  </if>
		   <if test="car_size != null and car_size != ''">
		    car_size = #{car_size},
		  </if>
		   <if test="car_fuel != null and car_fuel != ''">
		    car_fuel = #{car_fuel},
		  </if>
		   <if test="op_carseat != null and op_carseat != ''">
		    op_carseat = #{op_carseat},
		  </if>
		   <if test="op_navi != null and op_navi != ''">
		    op_navi = #{op_navi},
		  </if>
		   <if test="op_bt != null and op_bt != ''">
		    op_bt = #{op_bt},
		  </if>
		   <if test="op_cam != null and op_cam != ''">
		    op_cam = #{op_cam}
		  </if>
		 	
		   FROM TBL_CAR_INFO
	</select>
  	
  </mapper>