<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.kh.rent.reserve.mapper.ReserveMapper">
  
  <!-- 예약 입력 -->
  	<insert id="reserveinsert">
  		insert into TBL_RESERVE
  			( res_rental_date, res_return_date, res_car_id, res_mem_id, res_license_type, res_license_num)
  		values
  			( str_to_date(#{res_rental_date}, '%Y-%m-%dT%H:%i'), 
  			  str_to_date(#{res_return_date}, '%Y-%m-%dT%H:%i'),
  			  #{res_car_id},
  			  #{res_mem_id},
  			  #{res_license_type},
  			  #{res_license_num}
  			)	
  	</insert>
  <!-- 예약 입력 조회 -->	
  	<select id="getList" resultType="com.kh.rent.reserve.domain.ReserveVO">
  		select * from TBL_RESERVE
  	
  	</select>
  	
  </mapper>