<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.kh.rent.mapper.BoardMapper">
 <!-- 등록 -->
 	<insert id="insert">
 		insert into tbl_board
 			(board_no, board_title, board_content)
 		values
 			(#{board_no},#{board_title},#{board_content})	
 	</insert>
 
 <!-- 글목록 -->
 	<select id="selectList">
 		select * from tbl_board
 	</select>
 <!-- 수정 -->
 	<update id="update">
 	
 		update tbl_board set
 			board_title = #{board_title},
 			board_content = #{board_content},
 			board_udate = now()
 			
 	</update>
 <!-- 삭제 -->
 
 <!-- 글갯수 -->
 
 </mapper>