<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.kh.rent.board.mapper.BoardMapper">
 
	<!-- 글 등록 -->
 	<insert id="insert">
    	INSERT INTO TBL_BOARD 
		    (BOARD_TITLE, BOARD_CONTENT, BOARD_CDATE, BOARD_MEM_ID, BOARD_PRIVATEYN, BOARD_NOTICEYN, BOARD_GROUP, BOARD_SEQ, BOARD_LEVEL, BOARD_DELETEYN)
		SELECT 
		    #{board_title}, #{board_content}, NOW(), #{board_mem_id}, #{board_privateYN}, #{board_noticeYN}, IFNULL(max(board_Group)+1, 0), 0, 0, 'N'
		FROM TBL_BOARD
	</insert>
	
	<!-- 답글 등록 -->
 	<insert id="replyInsert">
    	INSERT INTO TBL_BOARD 
    	(BOARD_TITLE, BOARD_CONTENT, BOARD_CDATE, BOARD_MEM_ID, BOARD_PRIVATEYN, BOARD_NOTICEYN,
    		BOARD_GROUP, BOARD_SEQ, BOARD_LEVEL, BOARD_DELETEYN)
    	VALUES(#{board_title}, #{board_content}, now(), #{board_mem_id}, #{board_privateYN}, 'N',
    		#{board_group}, #{board_seq}, #{board_level}, 'N')
	</insert>
	
	<!-- 답글 순서 업데이트 -->
	<update id="replySeqUpdate">
		update TBL_BOARD set 
		board_seq = board_seq + 1
		where board_group = #{board_group} 
		and board_seq > #{board_seq}
	</update>
 
	<!-- 공지사항 목록 -->
	<select id="notice" resultType="com.kh.rent.board.domain.BoardVO">
		select * from rent001.TBL_BOARD 
		where board_noticeYN = 'Y' 
		order by board_no desc
	</select>
 
	<!-- 글 목록 -->
 	<select id="selectList" resultType="com.kh.rent.board.domain.BoardVO">
		SELECT * FROM (
		    SELECT * 
		    FROM rent001.TBL_BOARD 
		    WHERE board_noticeyn = 'N'
		    <if test="_parameter != null">
	        	<include refid="searchSql"></include>
		    </if>
		    ORDER BY board_seq ASC, board_level ASC
		) AS sorted_board 
		ORDER BY board_group DESC, board_seq ASC, board_no ASC
		LIMIT #{startRow}, #{amount}
		
 	</select>
 	
	<!-- 글 수정 -->
 	<update id="update">
 		update TBL_BOARD set
 			board_title = #{board_title},
 			board_content = #{board_content},
 			board_udate = now(),
 			board_privateYN = #{board_privateYN},
 			board_noticeYN = #{board_noticeYN}
 		where board_no = #{board_no}	
 	</update>
 	
	<!-- 글 삭제 -->
 	<delete id="delete">
 		delete from TBL_BOARD
 		where board_no = #{board_no}
 	</delete>
 	
	<!-- 글 하나 가져오기 -->
 	<select id="selectByNo" resultType="com.kh.rent.board.domain.BoardVO">
 		select * from TBL_BOARD
 		where board_no = #{board_no}
 	</select>
 	

	<!-- 조회수 업데이트  --> 	
	<update id="readCountUpdate" parameterType="long">
		update TBL_BOARD set
		readcount = readcount + 1
		where board_no = #{board_no}
	</update>
 	
	<!-- 글갯수 -->
	<select id="getTotal" resultType="int">
		select count(*) from TBL_BOARD 
		WHERE board_noticeyn = 'N'
		<if test="_parameter != null">
        	<include refid="searchSql"></include>
	    </if>
	</select>
	
	<!-- 답글 갯수 -->
	<select id="replyCount" resultType="int">
		select count(*) from TBL_BOARD
		where board_group = #{board_group}
	</select>
	
	<!-- 답글있는 원글 삭제처리 -->
	<update id="isReplyDelete">
		update TBL_BOARD set
 			board_deleteyn = 'Y',
 			board_title = '[삭제된 게시글입니다.]'
 		where board_no = #{board_no}	
	</update>
	
	<!-- 검색쿼리 -->
	<sql id="searchSql">
        <if test="type == 'T'.toString()">
            AND board_title like CONCAT('%', #{keyword}, '%')
        </if>
        <if test="type == 'C'.toString()">
            AND board_content like CONCAT('%', #{keyword}, '%')
        </if>
        <if test="type == 'W'.toString()">
            AND board_mem_id like CONCAT('%', #{keyword}, '%')
        </if>
        <if test="type == 'TCW'.toString()">
            AND (
               board_title like CONCAT('%', #{keyword}, '%')
               OR board_content like CONCAT('%', #{keyword}, '%')
               OR board_mem_id like CONCAT('%', #{keyword}, '%')
            )
        </if>
	</sql>

 	
 </mapper>