<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.rent.point.mapper.PointMapper">
	
	<!-- 포인트 충전 -->
	<insert id="insertPoint">
		insert into tbl_point
			(point_id, point_user_id, point_code) 
		values 
			(#{point_id}, #{point_user_id}, #{point_code})
	</insert>
	
	<!-- 포인트 변경 -->
	<update id="updatePoint">
		update tbl_point set
			point_id = point_id + #{point_id}
			where point_user_id = #{point_user_id}
	</update>	

</mapper>