<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.rent.point.mapper.PointMapper">
	
	<!-- 회원 가입, 글쓸 때 등 포인트 얻을 시 -->
	<insert id="registerPoint">
	INSERT INTO TBL_POINT_MEMBER (point_id, point_user_id, point_code, 
	point_use_date, point_cost)
	VALUES (#{point_id},#{point_user_id}, #{point_user_id}, 'J', CURRENT_TIMESTAMP, 
        CASE 
            WHEN POINT_CODE = '글쓰기' THEN 0
            WHEN POINT_CODE = '회원가입' THEN 100000
           다른 POINT_CODE에 따른 포인트 지급 로직 추가
            ELSE 0 기본적으로 0 포인트로 설정
        END
    );
 	</insert>
		
	<insert id="insertPoint">
		insert into TBL_POINT_MEMBER
			(point_id, point_user_id, point_code, point_cost, point_use_date) 
		values 
			(#{point_id}, #{point_user_id}, #{point_code}, #{point_cost}, #{point_use_date})
	</insert>
	
	<!-- 포인트 변경 -->
	<update id="updatePoint">
		update TBL_POINT_MEMBER set
			point_id = point_id + #{point_id}
			where point_user_id = #{point_user_id}
	</update>	

	<!-- 포인트 조회 -->
	<select id="pointList" resultType="int" parameterType="String">
		 SELECT SUM(point_cost) from TBL_POINT_MEMBER
		 WHERE point_user_id = #{point_user_id}
	</select>
	
</mapper>